.DS_Store
**/.DS_Store
*.pyc
**/*.pyc
.cache/
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
.venv
.idea/
.vscode/

.eggs/
aif360.egg-info
build/
dist/

.coverage*
coverage.txt

docs/build/
docs/source/modules/generated

aif360/version.py
aif360/data/raw/**
!aif360/data/raw/*/*.md
aif360/sklearn/data/
.Rproj.user
