nbformat
nbconvert
jupyter_client
ipykernel
ipython
ipywidgets
tqdm
numpy
matplotlib
pandas==0.23.3
pytest
scipy
scikit-learn
cvxpy==0.4.11
numba
tensorflow==1.1.0
networkx==1.11
BlackBoxAuditing;python_version>="3"
