# algorithms
lime
adversarial-robustness-toolbox>=1.0.0
BlackBoxAuditing
tensorflow>=1.13.1,<2
torch
cvxpy>=1.0
fairlearn==0.4.6
tempeh
rpy2==3.4.5

# notebooks
jupyter
tqdm
igraph[plotting]==0.9.8
lightgbm==3.1.1
seaborn
ipympl

# tests
pytest>=3.5.0

# docs
sphinx==1.8.6
sphinx_rtd_theme==0.4.3
